.container{
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  align-content: center;
  border-radius: var(--border-radius-3);
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  padding: 3rem;
  height: 75vh;
}

.leftSection{
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.subtitle{
  color: var(--color-white);
  color: #b2b0c1;
  max-width: 35ch;
  font-size: .95rem;
  font-weight: 300;
}

.contactWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: .5rem;
}

.contactItem{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  text-decoration: none;
  padding: .75rem 0;
  transition: .5s ease-in-out;
  border-radius: var(--border-radius-1);
  border: 2px solid transparent;
}

.contactItem:hover{
  background-color: #0c0358;
  padding: .75rem 1rem;
  border: 2px solid #2e3ea8;
}

.contactSvg{
  height: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactText{
  color: #cccbd6;
  font-size: .9rem;
  font-weight: 300;
}

.socialsWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.socialsIcon{
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .5s ease-in-out;
}

.socialsIcon:hover{
  background-color: var(--color-primary);
}

.rightSection{
  width: 24rem;
  height: 100%;
  background-color: var(--color-white);
  border-radius: var(--border-radius-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
}

.fieldsWrapper{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.formTitle{
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: .25rem;
}

.field{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: var(--border-radius-1);
  border: 2px solid var(--color-light);
  transition: .5s ease-in-out;
  margin-bottom: 1rem;
  padding: .6rem 1rem;
}

.form{
  width: 100%;
}

.input{
  width: 100%;
  border: none;
  outline: none;
  color: var(--color-dark);
}

.input::placeholder{
  color: var(--color-info-light);
}

.messageForm{
  flex-grow: 1;
  width: 100%;
  margin-bottom: 2rem;
}

.messageTextarea{
  width: 100%;
  height: 100%;
  resize: none;
  padding: .75rem 1rem;
  background-color: var(--color-light);
  border: none;
  outline: none;
  border-radius: var(--border-radius-1);
  font-family: 'Poppins', sans-serif;
  font-size: .75rem;
}

.messageTextarea::placeholder{
  color: #b2b0c1;
}

.sendBtn{
  width: 50%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--border-radius-1);
  background-color: var(--color-primary);
  font-size: .75rem;
  font-weight: 400;
  color: var(--color-white);
  cursor: pointer;
  transition: .5s ease-in-out;
}

.sendBtn:hover{
  box-shadow: 0 0 0.5rem var(--color-primary);
}